html{
  background-color: #000000;
}

.Up{
  background-color: #892;
  padding: 6px;
  margin: 5px;
}
.proekt_ev3{
  background-color: #960;
  padding: 6px;
  margin: 5px;
}
.proekt{
  background-color: #960;
  padding: 6px;
  margin: 5px;
}
.info{
  background-color: #950;
  padding: 6px;
  margin: 5px;
}
<menu>
#menu1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#menu1 li {
    float: left;
}

#menu1 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: Verdana;
}


#menu1 li a:hover {
    background-color: red;
}

.carousele{
    margin: 10px;
}

.carousele div img{
    width: 30%
}